.search-container {
  display: flex;
  padding: 20px;
}

.left-side {
  width: 20%;
  padding-right: 20px;
}

.right-side {
  width: 80%;
}

.filter-container,
.sort-container {
  margin-bottom: 20px;
}

.results {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.course-card {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  width: 250px;
}

.course-card img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}